/...swp
/ac-comphist.dat
/auto-save-list
/backups
/bookmarks
/agent.log
/projectile-bookmarks.eld
/recentf
/ls.log
/tramp
/url
/projectile.cache
/eshell/history
/eshell/lastdir
/#!*
%backup%~
.DS_Store
/abbrev_defs
/session.*
